mat-card {
    margin: 10px 0;
    max-width: 600px;
    /* justify-content: center;
    text-align: center; */
    float: left;
    clear: both;
}
img {
    width: 90%;
}

mat-form-field {
    width: 100%;
}
mat-card-content:focus {

    outline: none;
    border: 0;
}
mat-card-content {
    cursor: pointer;
}
/* .flex-card {
    flex-wrap: wrap;
    flex-direction: column;
} */

.box {
    float: right;
}